{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>

        <div>

            {% if visitor.status == "AWAITING" %}
                <a href="#" class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#modal1">
                    <span class="text">Authorize Entry</span>
                    <span class="icon text-white-50">
                        <i class="fas fa-user-check"></i>
                    </span>
                </a>
            {% endif %}

            {% if visitor.status == "IN_VISIT" %}
                <a href="#" class="btn btn-warning btn-icon-split btn-sm" data-toggle="modal" data-target="#modal2">
                    <span class="text">Finalize Visit</span>
                    <span class="icon text-white-50">
                        <i class="fas fa-door-open"></i>
                    </span>
                </a>
            {% endif %} 

        </div>
    </div>
    


    <div class="card shadow mb-4">        
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                General Information
            </h4>
        
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Arrival Time</label>
                        <input type="text" class="form-control" value="{{ visitor.arrival_time }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>House number to be visited</label>
                        <input type="text" class="form-control" value="{{ visitor.apartment_number }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Status</label>
                        <input type="text" class="form-control" value="{{ visitor.get_status_display }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Time of entry authorization</label>
                        <input type="text" class="form-control" value="{{ visitor.get_authorization_time }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Entry authorized by</label>
                        <input type="text" class="form-control" value="{{ visitor.get_responsible_tenant }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Checkout time</label>
                        <input type="text" class="form-control" value="{{ visitor.get_checkout_time }}" disabled>
                    </div>
                </div>
            </form>
        
            <h4 class="mb-3 mt-4 text-primary">
                Personal information
            </h4>
            
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Full name</label>
                        <input type="text" class="form-control" value="{{ visitor.full_name }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>SSN</label>
                        <input type="text" class="form-control" value="{{ visitor.get_ssn }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Birth Date</label>
                        <input type="text" class="form-control" value="{{ visitor.birth_date }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Vehicle Plate Number</label>
                        <input type="text" class="form-control" value="{{ visitor.get_vehicle_plate }}" disabled>
                    </div>
                </div>
            </form>
                    
            <p class="mr-2 mt-3 mb-4 text-right">
                <small>
                    Guest Registered in {{ visitor.arrival_time }} by {{ visitor.registered_by }}
                </small>
            </p>
        
            <div class="mr-1 text-right">
                <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                    <span class="text">Go Back</span>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authorize Visitor's entry</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
    
                        <div class="form-group">
                            <label for="id_responsible_tenant" class="col-form-label">Name of the responsible tenant for authorization:</label>
                            {% render_field form.responsible_tenant placeholder="Name of the responsible tenant for authorization" class="form-control" %}
                        </div>
                            
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Authorize Entry</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Finalize Visit</h5>
                        
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="modal-body">
                        <h5 class="mb-3">
                            Are you sure you want to finalize the visit?
                        </h5>
    
                        <form method="post" action="{% url 'finalize_visit' id=visitor.id %}">
                            {% csrf_token %}
    
                            <input hidden>
    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Finalize Visit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}